{% extends "base_gerente.html" %}
{% block content %}
<ul>
    <li><h2 class="pink-text text-lighten-3"> Agregar Equivalencia
    <pre></pre>

     <li class="divider pink lighten-3"></li>
    <li class="divider pink lighten-3"></li>


    <li><h6 class=" pink-text text-lighten-3">Folio de Receta : {{ folio }} </h6></li>
    <li><h6 class=" pink-text text-lighten-3">Medicamento: {{ medicamento }} </h6></li>
    <li><h6 class=" pink-text text-lighten-3">Cantidad: {{ cantidad }} </h6></li>

    <li class="divider pink lighten-3"></li>
    <li class="divider pink lighten-3"></li>

</ul>

<table class="highlight">

    <form method="POST">

    {% csrf_token %}
    {% if list %}
    <tbody>
    <thead>
          <tr>
              <th>Codigo de Barras</th>
              <th>Descripcion </th>
              <th>Codigo de Barras equivalente</th>
              <th>Descripion equivalente</th>
          </tr>
        </thead>

    {% for equivalencia in list %}

          <tr>
            <td>{{ equivalencia.cbarras }}</td>
              <td>{{ equivalencia.descripcion }}</td>

              <td>{{ equivalencia.cbarras_equivalente }}</td>
              <td>{{ equivalencia.descripcion_equivalente }}</td>
              <td>

                  <input type="hidden" name="equivalencia" value='{{ equivalencia.pk }}'  ><button class="right btn waves-effect waves-light  pink lighten-3"  type="submit" name="action">Elegir
                  <i class="material-icons right  pink lighten-3">add</i></input>
                    </button>

              </td>
          </tr>



    {% endfor %}


      </tbody>
        {% else %}
        <h3>No se encontro equivalencia, favor de agregar descripcion</h3>
        <div class="input-field  ">
            <label class="active">Descripcion</label>
            <input type="text" name="equivalencia_obs">
    </div>


   <button class="btn waves-effect waves-light pink lighten-3" type="submit" name="action">Terminar
    <i class="material-icons right pink lighten-3">done</i>
  </button>

        </form>

      </table>

    {% endif %}




       <div class="row">
                <div class="col s12"></div>


            </div>

{% endblock %}

