<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>




    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav class="pink lighten-3"> <!-- navbar content here  -->
   {% load static from staticfiles %}
       <div class="nav-wrapper">
  <img class="left hide-on-med-and-down" src="{% static 'DMHQuiroz/logo.png' %}" width="200" height="63"/>

  </div>


  </nav>

<div class="row">
    <div class="row">
      <div class="col s7 push-s5"><span class="flow-text"></span></div>
      <div class="col s5 pull-s7"><span class="flow-text"></span></div>
    </div>
        <div class="col s6 push-s3 z-depth-3">

<ul>
    <li><h2 class="pink-text text-lighten-3"> Agregar Equivalencia
    <pre></pre>

     <li class="divider pink lighten-3"></li>
    <li class="divider pink lighten-3"></li>


    <li><h6 class=" pink-text text-lighten-3">Folio de Receta : {{ folio }} </h6></li>
    <li><h6 class=" pink-text text-lighten-3">Medicamento: {{ medicamento }} </h6></li>
    <li><h6 class=" pink-text text-lighten-3">Cantidad: {{ cantidad }} </h6></li>

    <li class="divider pink lighten-3"></li>
    <li class="divider pink lighten-3"></li>

</ul>

<table class="highlight">

    {% if list %}
        <thead>
          <tr>
              <th>Codigo de Barras</th>
              <th>Descripcion </th>
              <th>Codigo de Barras equivalente</th>
              <th>Descripion equivalente</th>
          </tr>
        </thead>

    {% for equivalencia in list %}
    <tbody>

          <tr>
            <td>{{ equivalencia.cbarras }}</td>
              <td>{{ equivalencia.descripcion }}</td>

              <td>{{ equivalencia.cbarras_equivalente }}</td>
              <td>{{ equivalencia.descripcion_equivalente }}</td>
 <td>
                  <form method="POST">
                      {% csrf_token %}
                  <input type="hidden" value="{{ equivalencia.pk }}" name="equivalencia" id="{{ equivalencia.pk }}" multiple><button class="right btn waves-effect waves-light  pink lighten-3"  type="submit" name="action">Elegir
                  <i class="material-icons right  pink lighten-3">add</i></input>
                    </button>

                  </form>

              </td>

          </tr>


    </tbody>

    {% endfor %}
    </table>



        {% else %}
        <h3>No se encontro equivalencia, favor de agregar descripcion</h3>
         <form method="POST">
             {% csrf_token %}
        <div class="input-field  ">
            <label class="active">Descripcion</label>
            <input type="text" name="equivalencia_obs">
    </div>
             <button class="btn waves-effect waves-light pink lighten-3" type="submit" name="action">Terminar
    <i class="material-icons right pink lighten-3">done</i>
  </button>
             </form>








    {% endif %}




       <div class="row">
                <div class="col s12"></div>


            </div>

        </div>
</div>
</html>



