{% extends "base_gerente.html" %}

{% block content %}

<ul>
    <li><h2 class="pink-text text-lighten-3">Registrar Receta

    <i class="medium material-icons ">local_pharmacy</i></h2></li>
    <li class="divider pink lighten-3"></li>
</ul>

<form method="POST">
    {% block javascript %}
     <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


    <script>

        var doctoresAutocomplete = {{ DoctoresAutocomplete|safe }};
        document.write(doctoresAutocomplete);


        $(document).ready(function(){
             $('.modal').modal();


        // Initialize materialize data picker
            $('.datepicker').datepicker({format: 'mm/dd/yyyy',
                                 changeMonth: true,
                                 changeYear: true,
                                yearRange: [2019,2080]});


         $('input.autocomplete').autocomplete({
      data: {
        Apple:null,
        Microsoft: null,
        "Google": 'https://placehold.it/250x250'
      },
    });
        });
        </script>
    {% endblock javascript %}

    {% csrf_token %}




    <label class="active">Folio de Receta:</label>

    {{ Form.folio_receta }}
    {{ Form.non_field_errors }}

    <label class="active">Status</label>

    {{ Form.status }}
     <label class="active">Fecha que expide:</label>

    {{ Form.fecha_expide }}
     <label class="active">Fecha que recibe:</label>

    {{ Form.fecha_recibe }}

     <label class="active">Fecha que surte:</label>

    {{ Form.fecha_surte }}


    <div class="input-field ">
          <input type="text" id="autocomplete" class="autocomplete">
          <label for="autocomplete">Autocomplete</label>
    </div>

    <label class="active">Doctor que medica:</label>
    {{ Form.doctor }}

    <div>
     <label class="active">Ficha de Derecho Habiente:</label>

    {{ Form.ficha_derechohabiente }}
    </div>

    <div>
        <script type = 'text/javascript'>

         document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.autocomplete2');
    var instances = M.Autocomplete.init(elems, options);
  });





    var andres = {'andres':null,
    'mayte':null};


        $(document).ready(function(){
            $(".dropdown-trigger").dropdown();
            $('select').formSelect();
        // Initialize materialize data picker
            $('.datepicker').datepicker({format: 'mm/dd/yyyy',
                                 changeMonth: true,
                                 changeYear: true,
                                yearRange: [2019,2080]});

         $('.collapsible').collapsible();
         $('input.autocomplete2').autocomplete({



            data: andres,
        });
        });
        </script>

    <div class="input-field">

          <input type="text" class="autocomplete2">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
     <label class="active">Medicamento:</label>

    {{ Form.cbarras }}

    </div>
<div>
      <label class="active">Cantidad:</label>

    {{ Form.cantidad }}

</div>
    <ul class=" collapsible">
    <li>
      <div class="collapsible-header pink lighten-3 white-text"><i class=" small material-icons h">add</i>Agregar Equivalencia a Receta(opcional)</div>
      <div class="collapsible-body">
          <label>Medicamento de Equivalencia</label>
          {{ Form.equivalencia_cbarras }}


      </div>
           <div class="collapsible-body">
          <label>Cantidad equivalente:</label>
          {{ Form.equivalencia_cantidad }}


      </div>
         <div class="collapsible-body">
          <label>Observaciones</label>
          {{ Form.equivalencia_obs }}


      </div>
    </li>
    </ul>









   <button class="btn waves-effect waves-light pink lighten-3" type="submit" name="action">Terminar
    <i class="material-icons right pink lighten-3">done</i>
  </button>
</form>
{% endblock %}

