{% extends "base_gerente.html" %}

{% block content %}
<ul>
    <li><h2 class="pink-text text-lighten-3">Registrar Empleado(2/2) Pasos
    <i class="medium material-icons ">account_box</i></h2></li>
    <li class="divider pink lighten-3"></li>
</ul>
{{ new_user }}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

   <button class="btn waves-effect waves-light pink lighten-3" type="submit" name="action">Terminar
    <i class="material-icons right pink lighten-3">done</i>
  </button>
</form>
{% endblock %}

