<!DOCTYPE html>
<html lang="en">

<head>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>




    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% block javascript %}
    <script>
        function redirect(){
           window.location.href = "/doctor/{{ request.user.pk }}";
        }

        setTimeout(redirect, 3000); //2000 is equivalent to 2 seconds
    </script>
{% endblock javascript %}
<nav class="pink lighten-3"> <!-- navbar content here  -->
   {% load static from staticfiles %}
       <div class="nav-wrapper">
  <img class="left hide-on-med-and-down" src="{% static 'DMHQuiroz/logo.png' %}" width="200" height="63"/>

  </div>


  </nav>
<div class="row">
    <div class="row">
      <div class="col s7 push-s5"><span class="flow-text"></span></div>
      <div class="col s5 pull-s7"><span class="flow-text"></span></div>
    </div>
        <div class="col s6 push-s3 z-depth-3">
            <h3 class="pink-text text-lighten-3">Se registro correctamente la informacion. </h3>
            <label>Redirigiendo en 3 segundos...</label>
            <div class="progress">
                  <div class="indeterminate"></div>
              </div>

        </div>
</div>
</body>
</html>